.contenedor {
  padding: 13px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  contain: paint;
  min-height: 80vh;
}

.cart-summary {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 0 10px #666;
}
.cart-x
{
  padding: 13px;
  margin: auto;
  display: flex;
  color: white;
  font-size: 18px;
}
.contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
  color: white;
}

.item {
  background-image: linear-gradient(
    to bottom,
    #7c7575,
    #7f797b,
    #817d80,
    #828185,
    #848589,
    #85878b,
    #858a8d,
    #868c8f,
    #858d8f,
    #858d8f,
    #848e8f,
    #848e8e
  );
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  list-style-type: none;
}

.item .img-item {
  width: 100%;
  border: 1px solid #666;
  border-radius: 20px 20px 20px 20px;
}



.item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.07;
}

.item .titulo-item {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.item .precio-item {
  display: block;
  text-align: center;
  font-size: 15px;
}

.item .item-quantity {
  display: block;
  text-align: center;
  font-size: 15px;
}

.item .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.boton-item {
  display: inline;
  font-size: 15px;
  color: white;
  padding: 3px;
  cursor: pointer;
}

.boton-item:hover {
  box-shadow: 0px 0px 10px 0px;
  color: white;
  background-color: #a5a6ac;
}

.boton-item1 {
  display: inline;
  font-size: 15px;
  color: white;
  padding: 3px;
  cursor: pointer;
  font-size: 35px;
}

.boton-item1:hover {
  box-shadow: 0px 0px 10px 0px;
  color: white;
  background-color: #a5a6ac;
}
.text
{
  font-size: 25px;
  color: white;
}